.navbar{
    width: 100%;
    display: flex;
    padding: 1.5rem 2rem;
    box-shadow: 0 3px 7.5px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 999;
    background-color: white;
}

.navbar .logo{
    max-width: 100px;
}
